on:
  workflow_run:
    workflows:
      - 'Build iOS Framework'
    types:
      - completed

permissions:
  contents: write
  
jobs:
  copy-folder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v3
        with:
          repository: sudhanshublah/cautious-robot
          ref: ${{ github.event.workflow_run.head_commit.id }}
      
      - name: Pushes test file
        uses: dmnemec/copy_file_to_another_repo_action@main
        env:
          API_TOKEN_GITHUB: ${{ secrets.API_KEY }}
        with:
          source_file: 'build/CalendarControl.xcframework'
          user_name: 'sudhanshublah'
          destination_repo: 'sudhanshublah/improved-train'
          destination_folder: 'Sources/'
          user_email: 'sudhanshuk1219@gmail.com'
          commit_message: 'A custom message for the commit'
