on:
  workflow_run:
    workflows:
      - 'Build iOS Framework'
    types:
      - completed

permissions:
  contents: write
  
jobs:
  copy-folder:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout Source Repository
        uses: actions/checkout@v3
        with:
          repository: sudhanshublah/cautious-robot
          ref: ${{ github.event.workflow_run.head_commit.id }}
      
      - name: Pushes test file
        uses: cpina/github-action-push-to-another-repository@main
        env:
#           SSH_DEPLOY_KEY: ${{ secrets.SSH_DEPLOY_KEY }}
          API_TOKEN_GITHUB: ${{ secrets.API_KEY }}
        with:
          source-directory: 'build/CalendarControl.xcframework'
          destination-github-username: 'sudhanshublah'
          destination-repository-name: 'sudhanshublah/improved-train'
          user-email: 'sudhanshuk1219@gmail.com'
          target-branch: main
          target-directory: 'Sources/'
      
#         uses: datalbry/copy_folder_to_another_repo_action@1.0.0
#         env:
#           API_TOKEN_GITHUB: ${{ secrets.API_KEY }}
#         with:
#           source_folder: 'build/CalendarControl.xcframework'
#           destination_repo: 'sudhanshublah/improved-train'
#           destination_folder: 'Sources/'
#           user_email: 'sudhanshuk1219@gmail.com'
#           user_name: 'sudhanshublah'
#           commit_msg: 'A custom message for the commit'
#           destination_branch: 'main'
#         uses: dmnemec/copy_file_to_another_repo_action@main
#         env:
#           API_TOKEN_GITHUB: ${{ secrets.API_KEY }}
#         with:
#           source_file: 'build/CalendarControl.xcframework'
#           user_name: 'sudhanshublah'
#           destination_repo: 'sudhanshublah/improved-train'
#           destination_folder: 'Sources/'
#           user_email: 'sudhanshuk1219@gmail.com'
#           commit_message: 'A custom message for the commit'
